@model NewBookVM

@{
    ViewData["Title"] = "Add a new Book";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new Books</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ISBN" class="control-label"></label>
                                <input asp-for="ISBN" class="form-control" />
                                <span asp-validation-for="ISBN" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Edition" class="control-label"></label>
                                <input asp-for="Edition" class="form-control" />
                                <span asp-validation-for="Edition" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="imagesURL" class="control-label"></label>
                                <input asp-for="imagesURL" class="form-control" />
                                <span asp-validation-for="imagesURL" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="imageURlPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn btn-outline-success" float-right />
                        <a class="btn btn-outline-secondary" asp-action="Catalog">Show All</a>
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>

@section Scripts{
    <script>
        $("#imagesURL").on("change", function () {
            var output = document.getElementById("imageURlPreview");
            output.src = $(this).val();
        })
    </script>
}