@{
    ViewBag.Title = "About Us";
}
<div>
    <h4 class="textStyle">
        UCFreshBooks is a web application that emulates the functionality of Craigslist, tailored specifically for UC students.
        This platform enables users to offer their pre-owned textbooks for sale at suggested prices and connect with potential buyers via chat or email.
        Upon mutual agreement, the buyer and seller can then select a safe, pre-determined campus location and time for the exchange to occur.
        By facilitating secure textbook transactions, UCFreshBooks provides an effective means for students to sell and purchase textbooks at reasonable prices.
        With its advanced safety features, this application fosters a secure environment for on-campus textbook exchanges to take place, even in broad daylight and amidst a crowd.
        Additionally, users can rate each other, providing valuable feedback for moderation, reviews, and analytics purposes.
    </h4>
    <h2 class="textStyle">The Team</h2>
</div>

<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/D.png" alt="David Schloemer">
        <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title font-weight-bold">David Schloemer</h5>
            <p class="card-text text-left">Project Manager, System Administrator & Software Development</p>
        </div>
        <div class="card-footer">
            <a href="https://www.linkedin.com/in/david-schloemer" class="btn btn-primary" target="_blank">View profile</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/B.png" alt="Bhakti Pokhrel">
        <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title font-weight-bold">Bhakti Pokhrel</h5>
            <p class="card-text text-left">Front-End Developer & Software Development</p>
        </div>
        <div class="card-footer">
            <a href="https://www.linkedin.com/in/bhaktipokhrel/" class="btn btn-primary" target="_blank">View profile</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/j.png" alt="Joseph Day">
        <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title font-weight-bold">Joseph Day</h5>
            <p class="card-text text-left">System Administrator</p>
        </div>
        <div class="card-footer">
            <a href="https://www.linkedin.com/in/josephdayuc/" class="btn btn-primary" target="_blank">View profile</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/M.png" alt="Monish Chamlagai">
        <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title font-weight-bold">Monish Chamlagai</h5>
            <p class="card-text text-left">Back-End Developer & Software Development</p>
        </div>
        <div class="card-footer">
            <a href="https://www.linkedin.com/in/monish-chamlagai/" class="btn btn-primary" target="_blank">View profile</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/Y.png" alt="Yeati Mishra">
        <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title font-weight-bold">Yeati Mishra</h5>
            <p class="card-text text-left">Back-End Developer & Software Development</p>
        </div>
        <div class="card-footer">
            <a href="https://www.linkedin.com/in/yeati-mishra/" class="btn btn-primary" target="_blank">View profile</a>
        </div>
    </div>
</div>




