@{
    ViewBag.Title = "About Us";
}
<style>
    .TeamPhoto{
    max-width: 1200px;
    margin: auto;
    background:white;
    overflow:auto;
    }
    .Pic{
    margin: 5px;
    border: 1px solid #ccc;
    float:right;
    width: 200px;

    }
    .Pic img{
    width: 100%;
    height: 250px;
    }
    .des{
    padding: 15px;
    text-align:center;
    height:150px;
    }
    .textStyle {
    padding: 15px;
    text-align: center;
    }
</style>
<div>
    <h4 class="textStyle">
        UCFreshBooks is a "Craigslist-like" web application for UC students where users can offer up their
        used textbooks at a suggested price and connect that seller with a buyer via chat/email. The buyer and seller will
        select one of the many safe pre-determined campus locations as well as a time. They will meet at that place and
        time to make the exchange. UCFreshBooks will provide students on campus with a safe and effective way of
        selling/buying textbooks for a reasonable price. UCFreshBooks will provide advanced safety that allows students
        to exchange textbooks on campus and in the broad daylight with many people around. Buyers and sellers can rate
        each other for moderation, reviews, and analytics.
    </h4>
    <h2 class="textStyle">The Team</h2>
</div>
<div class="TeamPhoto">
    <div class="Pic">
        <img src="~/img/D.png">
        <div class="des"><h4>David Schloemer</h4><br>Project Manager, System Administrator & Software Development</div>
     </div>

      <div class="Pic">
        <img src="~/img/j.png">
        <div class="des"><h4>Joseph Day</h4><br>System Administrator</div>
     </div>

    <div class="Pic">
        <img src="~/img/M.png">
        <div class="des"><h4>Monish Chamlagai</h4><br>Back-End Developer​ & Software Development​</div>
    </div>

    <div class="Pic">
        <img src="~/img/Y.png">
        <div class="des"><h4>Yeati Mishra</h4><br>Back-End Developer​ & Software Development​</div>
    </div>

    <div class="Pic">
        <img src="~/img/B.png">
        <div class="des"><h4>Bhakti Pokhrel</h4><br>Front-End Developer​ & Software Development​</div>
    </div>
</div>
