@{
    ViewBag.Title = "Sign Up";
}
@model SignUpViewModel
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}

<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body bg-light">
            <form method="post">
                <div class="form-group">
                    <label asp-for="FirstName">First Name: </label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last Name: </label>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email: </label>
                    <input type="Email" asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmEmail">Confirm Email: </label>
                    <input type="ConfirmEmail" asp-for="ConfirmEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Username">User Name: </label>
                    <input type="Username" asp-for="Username" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Password">Password: </label>
                    <input type="Password" asp-for="Password" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm Password: </label>
                    <input type="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" />
                </div>

                <div class="form-group">
                    <br />
                    <a type="submit" href="/SuccessSignup" class="btn btn-primary" /><i class="fas fa-envelope"></i>Sign Up</a>
                </div>
            </form>
        </div>

    </div>
</div>